.btn {
    border: none;
    background-color: var(--color-secondary);
    padding: 1.5rem 5rem;
    border-radius: 1000px;

    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    filter: brightness(1.1);
}

.btn:active {
    filter: brightness(0.95);
}