.container {
    background-color: var(--color-grey-2);
    width: 6.5rem;
    height: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.volume {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50%;
    background-color: var(--color-secondary);
}